/* DEFINICION DE VARIABLES */
:root {
    --color-principal: #FFFFFF;
    --color-secundario: #04B4E0;

    --color-background: #F2F7F9;
    --color-transparent: transparent;

    --color-icono: #B5B6B7;
    --color-titles: #222222;
    --color-subtitle: #888;
    --color-text: #555;

}

/* ESTILOS GENERALES */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-titles);
}

/* IMAGEN DE FONDO */
body {
    
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}

/* ESTRCUCTURA PRINCIPAL */
.layout {
    position: relative;
    min-width: 1290px;
    width: 70%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;

    /* Sombra detras del layout */
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);
    

}

/* BARRA LATERAL */
.layout_aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.user-info__container-image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
    /* overflow: hidden; */

}

/* PSEUDO ELEMENTO -PARA PUNTOS GRADIENTES */
.user-info__container-image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
    opacity: 0.4;

}

.user-info__image {
    width: 100%;
    background-color: var(--color-principal);
    border: 3px solid var(--color-principal);
    border-radius: 20rem;
}

.user-info__name{
    margin-top: 2.6rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-principal);
}

.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-principal);
}

.layout__menu {
    display: none !important;
}

.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.social__option{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear ease-in-out;
}

.social__option:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

.user-info__buttons{
    margin-top: 2rem;
    margin-bottom: 4rem;

}

.user-info__btn{
    border: 2px solid var(--color-principal);
    border-radius: 3.2rem;
    color: var(--color-principal);
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
    transition: all  300ms ease-in-out;
}

.user-info__btn:hover{
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem ;
}

/* CONTENEDOR PRINCIPAL */
.layout_content {
    grid-area: content;
}