/* DEFINICION DE VARIABLES */
:root {
    --color-principal: #FFFFFF;
    --color-secundario: #04B4E0;

    --color-background: #F2F7F9;
    --color-transparent: transparent;

    --color-icono: #B5B6B7;
    --color-titles: #222222;
    --color-subtitle: #888;
    --color-text: #555;

    --color-border-reviews:#E5E6E7;
    --color-company:#A5A6A7;

}

/* ESTILOS GENERALES */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-titles);
}

/* IMAGEN DE FONDO */
body {

    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}

/* ESTRCUCTURA PRINCIPAL */
.layout {
    position: relative;
    min-width: 1290px;
    width: 70%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;

    /* Sombra detras del layout */
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);


}

/* BARRA LATERAL */
.layout__aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.user-info__container-image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
    /* overflow: hidden; */

}

/* PSEUDO ELEMENTO -PARA PUNTOS GRADIENTES */
.user-info__container-image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
    opacity: 0.4;

}

.user-info__image {
    width: 100%;
    background-color: var(--color-principal);
    border: 3px solid var(--color-principal);
    border-radius: 20rem;
}

.user-info__name {
    margin-top: 2.6rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-principal);
}

.user-info__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-principal);
}

.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.social__option {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear ease-in-out;
}

.social__option:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

.user-info__buttons {
    margin-top: 2rem;
    margin-bottom: 4rem;

}

.user-info__btn {
    border: 2px solid var(--color-principal);
    border-radius: 3.2rem;
    color: var(--color-principal);
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}

.user-info__btn:hover {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.user-info__footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}



/* CONTENEDOR PRINCIPAL */
.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;

    background-color: var(--color-secundario);
    border-radius: 0 10rem 10rem 0;

}

.content__page {

    background-color: var(--color-principal);
    min-height: 100%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job {
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-subtitle);
}


/* MENU NAVEGACION LATERAL */

.layout__menu {
    display: block;
    position: absolute;
    top: O;
    right: -105PX;
    min-width: 11rem;
    background-color: var(--color-transparent);
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 60%;
    min-height: 32rem;
    background-color: var(--color-principal);
    box-shadow: 0 0 3rem -0.5 rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
}


.menu__option {
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon {
    color: var(--color-icono);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__overlay {
    position: absolute;
    opacity: 0;
    display: block;
    color: black;
    background-color: var(--color-secundario);
    white-space: nowrap;
    right: 0;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon {
    color: var(--color-secundario);
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
}

/* SOBRE MI */
.content__about {
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;

}

.about__header {
    display: inline-block;
    margin-bottom: 4.5rem;

}

.about__title {
    font-size: 3.2rem;
    position: relative;
}

.about__title::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secundario), var(--color-secundario) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
}

.title__color {
    color: var(--color-secundario);
}

/* INFORMACION PERSONAL */
.about__personal-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;

}

.personal-info__bio {
    flex-basis: 55%;
}

.personal-info__description {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.personal-info__data {
    flex-basis: 45%;
    padding: 0 1.5rem;
}

.personal-info__option {
    margin-bottom: 1rem;
}

.personal-info__title {
    margin-right: 0.5rem;
    color: var(--color-secundario);
    font-weight: 600;
}


/* ESTILOS COMPARTIDOS ABOUT*/
.about__services,
.about__reviews,
.about__clients,
.about__prices{
    width: 100%;
    margin-bottom: 3rem;
}

.services__header,
.reviews__header,
.clients__header,
.prices__header{
    display: inline-block;
    padding-right: 1.2rem;
    position: relative;
    margin-bottom: 2.5rem;
}
.services__title,
.reviews__title,
.clients__title,
.prices__title{
    font-size: 2.1rem;
}

.services__title::after,
.reviews__title::after,
.clients__title::after,
.prices__title::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 0px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secundario), var(--color-secundario) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/* SERVICIOS */
.services__container{
    display: flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap;
}

.services__service{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.service__real-icon{
    color: var(--color-secundario);
    font-size: 3.8rem;
}

.service__title{
    font-size:1.8rem;
    margin: 0.5rem 0;
}

.service__description{
    font-size: 1.5rem;
    text-align: justify;
}

/* REVIEWS */

.reviews__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__review{
    flex-basis: calc(50% - 2.5rem);
    border: 2px solid var(--color-border-reviews);
    border-radius: 2rem;
    padding-top: 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    margin-right: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

.review_image-container{
    width: 100%;
}

.review__image{
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.review__description{
    margin-bottom: 1rem ;
}
.review__text{
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.review__author{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.review__name{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.review__company{
    color: var(--color-company);
    font-weight: 300;
    font-size: 1.3rem;
}

.review__icon{
    font-size: 4rem;
    opacity: 0.5;
    color: var(--color-secundario);
}

/* CLIENTES */
.about__clients{
    width: 100%;
    margin-bottom:2rem;
}

.clients__header{
    margin-bottom: 3rem;
}

.clients__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.clients__link{
    display:block;
    width: 100%;
    opacity: 0.7;
    transition: all  300ms linear;
}

.clients__link:hover{
    opacity: 1;
}
.clients__image{
    width: 145px ;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/* PRECIOS */

.prices__container{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;


}

.prices__box{
    flex-basis: 50%;
    margin-right: 3rem;
    padding: 3rem;
    border: 2px solid var(--color-border-reviews);
}

.prices__box:last-of-type{
    margin-right: 0rem;
}